@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --couleur-primaire: #000; 
    --couleur-bg: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--couleur-primaire);
    outline: none;
    overflow-x: hidden;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='416' height='416' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='1' stop-color='%23e3e3e3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.18' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

.accueil-troqueur
{  
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-troqueur
{
    padding: 5vh 5vw;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-troqueur img{
    width: 200px;
    height: 40px;
}  

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: var(--couleur-primaire);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    z-index: 7;
    cursor: pointer;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--couleur-primaire);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.hamburger{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--couleur-bg);
    transition: full 250ms ease-in-out;
}

.hamburger a{
    outline: none;
    z-index: 7;
    text-decoration: none;
    color: var(--couleur-primaire);
    font-size: 30px;
    border-bottom: 1px solid var(--couleur-bg);
    transition: all 250ms ease-in-out; 
}

.hamburger a:not(:last-of-type){
    margin-bottom: 10vh;
}

.hamburger a:hover{
    transform: scale(1.1);
    text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid var(--couleur-primaire);
}

.main{
    text-align: center;
}
.section{
    padding: 5vw 7vw;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-contenu{
    text-align: left;
}
.section-titre{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-description{
    font-size: 30px;
    margin-bottom: 15px;
}
.lien
{
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: var(--couleur-bg);
    background-color: var(--couleur-primaire);
    padding: 8px 18px;
    border-radius: 50px;
    border: 1px solid var(--couleur-primaire);
    transition: all 250ms ease-in-out;
    align-items: center;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-top: 10px;
}

.lien:hover{
    color: var(--couleur-primaire);
    background-color: var(--couleur-bg);
    border: 1px solid var(--couleur-primaire);
}
.section svg,
.section img
{
    width: 50vw;
    height: 40vh;
}

  
.lien-deconn
{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: var(--couleur-bg);
    background-color: var(--couleur-primaire);
    padding: 8px 18px;
    border-radius: 50px;
    border: 1px solid var(--couleur-primaire);
    cursor: pointer;
    outline: none;
    margin: 30px;
    margin-bottom: 50px;
    transition: all 250ms ease-in-out;
}

.lien-deconn:hover{
    color: var(--couleur-primaire);
    background-color: var(--couleur-bg);
    border: 1px solid var(--couleur-primaire);
}



@media all and (max-width: 550px){
    .header-troqueur{
        padding: 30px 20px;
        margin-bottom: 20px;
    }
    .hamburger a{
        font-size: 20px;
    }
    .section{
        min-height: 30vh;
        justify-content: center;
        text-align: center;
    }
    .section-contenu{
        text-align: center;
    }
    .section-titre{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .section-description{
        font-size: 15px;
    }
    .lien
    {
        font-size: 15px;
        padding: 6px 14px;
    }
}
